@import '/src/assets/scss/mixins/colors';
.restart-password-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  width: 90%;
  .auth-title__title {
    font-size: 2.8rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__login-text {
    letter-spacing: 1px;
    color: $dark;
    font-size: 1.6rem;
    font-weight: 600;
  }
}

@media (min-width: 768px) {
  .restart-password-form {
    width: 70%;

    &__login-text {
      font-size: 2.5rem;
    }
  }
}

@media (min-width: 992px) {
  .restart-password-form {
    width: 50%;

    &__login-text {
      font-size: 2.5rem;
    }
  }
}
