@import '/src/assets/scss/mixins/colors';

.underline {
  height: 3px;
  width: 25%;
  background-color: $secondary;
  border-radius: 8px;
  margin-bottom: 0.8em;
  margin-top: 0.4em;
}

@media (min-width: 992px) {
  .underline {
    height: 5px;
  }
}
