@media only screen and (max-width: 768px) {
  .logo {
    height: 8vh;
    max-width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 769px) {
  .logo {
    height: 8vh;
  }
}

@media only screen and (min-width: 1441px) {
  .logo {
    height: 6vh;
  }
}

.main {
  margin-left: 5vh;
}
