@import '/src/assets/scss/mixins/colors';
@import '../../Shared/FormStyle';

.restart-password-form {
  @include auth-form;
  .auth-title__title {
    font-size: 2.8rem;
  }

  &__login-text {
    letter-spacing: 1px;
    color: $dark;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .restart-password-form {
    @include auth-form-media-768px;

    &__login-text {
      font-size: 2rem;
    }
  }
}

@media (min-width: 992px) {
  .restart-password-form {
    @include auth-form-media-992px;
  }
}
